<div class="container">
  <h2>ユーザー一覧</h2>
  <% @users.each do |user| %>
      <!-- <div class="container-child col-md-2 col-sm-4 col-xs-6 "> -->
        <!-- <p><%= link_to user.name, user_path(user), method:'get' %></p>
        <%= user.email %>
        <%= render 'follow_form', user: user %> -->
      <!-- <div class="container-child col-md-2 col-sm-4 col-xs-6 "> -->
      <% if user.id != current_user.id %>
      <ul class="user_index">
        <li class="user_profile">
           <%= profile_img(user) %>
          <div class="user_name">
            <%= link_to "#{user.name}さん", user %>
            <br/>
            <%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
            <%= render partial: 'follow_form', locals: { user: user } if signed_in?%>
          </div>
        </li>
      </ul>
      <% end %>
  <% end %>
</div>
