<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">

    <%= form_for(@photo) do |f| %>
      <%= f.error_messages! %>

      <!-- <div class="field">
        <%#= f.text_field :name, placeholder:"タイトル", class:'form-control' %>
      </div>
      <br/> -->

      <div class="field content">
        <!--プロフィール画像が登録されいるかどうか判断-->
        <% if !@photo.photo.model.photo.blank? %>
        <!-- 画像がない場合 画像を表示させず適用させるクラスを変更-->
          <%= image_tag(@photo.photo, :size => "40x40", class: "content_photo") %>
          <%= f.text_field :content , placeholder:"今何してる？", class:'form-control content_text_validimage' %>
        <% else %>
          <%= f.text_field :content , placeholder:"今何してる？", class:'form-control content_text' %>
        <% end %>

      </div>

      <br/>

      <div class="field">
        <!-- <＃%= profile_img(@photo) if profile_img(@photo) %> -->
          <% if @photo.photo.model.photo.blank? %>
                <!-- <%# binding.pry %> -->
                <h3>画像を投稿する</h3>
                <!-- <%= image_tag(@photo.photo, :size => "200x200")%> -->
                <%= f.file_field :photo, class: "btn " %>
                <%= f.hidden_field :photo_cache %>
          <% else %>
                <!-- <%# binding.pry %> -->
                <h3>画像を更新する</h3>
                <%= image_tag(@photo.photo, :size => "200x200")%>
                <%= f.file_field :photo %>
                <!-- <%= f.hidden_field :photo_cache %> -->
          <% end %>
      </div>

      <div class="actions">
        <%= f.submit "投稿する", method:'post', class:'btn btn-block btn-primary'%>
      </div>

      <br/>
      <%= button_to '戻る', photos_path, method: "get", class: "btn btn-block btn-primary" %>
    <% end %>

  </div>
</div>
