<p id="notice"><%= notice %></p>

<h1>投稿一覧</h1>

<div class="container col-md-8 col-md-offset-2">
  <!-- <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1"> -->

  <%= button_to '新規投稿', new_photo_path, method:'get', class:"btn btn-default" %>

<div class = "main col-xs-12">

     <!--投稿の大枠-- >
    <div class = "contribution">

    <% @photos.each do |photo| %>

          <!-- <＃% binding.pry %> -->
          <div class = "contribution_name">
            <%= profile_img(Photo.find(photo.id).user) %>
            <%= link_to photo.name, edit_photo_path(photo), method:'get' %>さん
            <br/>
            <%= contribution_time(photo.created_at) %>に投稿
          </div>
          <div class = "contribution_text">
            <%= photo.content %>
          </div>

          <div class = "contribution_image">
            <%= image_tag(photo.photo,:size => "400x400") %>
          </div>

          <!-- コメント入力欄-->
          <!-- アプリケーションヘルパーから呼び出し-->
          <% comment_form(Photo.find(photo.id)) %>
           <!-- コメント入力のビューを表示-->
          <%#= render 'show' %>

          <div id="comments_area_<%= photo.id %>">
            <%= render partial: 'comments/index', locals: { comments: @comments, photo: @photo } %>
          </div>
            <%= render partial: 'comments/form', locals: { comment: @comment, photo: @photo } %>

          <% if current_user.id == @photo.user_id %>
              <%#= link_to '編集', edit_photo_path(@photo) %>
                <%= button_to '投稿を削除', photo_path(photo), method:'delete',data: { confirm: '本当に削除しますか？'}, class:"btn  btn-danger" %>
          <% end %>

        <% end %>
      </div>

          <!-- <%#= button_to '編集', edit_photo_path(photo), method:'get', class:"btn btn-block btn-info" %> -->

    </div>

</div>
<br/>
